body {
	font-family: 'Work Sans', sans-serif;
	background-image: url("Falls2.jpg");
	background-position: center;
	background-size: cover;
	height: 500px;
}

h1 {
	margin-bottom: 10px;
}

.leftMenu {
	margin-left: 0px;
	height: 100%;
	background-color: white;
	width: 17%;
	position: fixed;
	left: 0;
}

.logoA {
	/*make centered*/
	/*should collapse at medium or small*/
}

.Buttons a {
	color: black;
	background-color: #d3d3d3;
	padding: 8px;
}

.Buttons a:hover {
	color: gray;
	background-color: #e3e1e1;
}

.backgroundChange {
	color: white;
	margin-top: 0;
}

.firstJumb {
	height: 100%;
	margin-left: 250px;
	margin-top: 100px;
	opacity: 0.85;
	background-color: white;
}

.insideJumbo {
	opacity: 1.0;
	color: black;
}

.navbar-inverse {
  background: #233E2D;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
  color: white;
}

.button-small {
	font-size: 85%;
}

.button-small:hover {
	font-size: 100%;
}

.jumbotron p {
	margin-left: 75px;
	margin-right: 75px;
	font-size: 16px;
}

.borderSplit {
	width: 500px;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
	margin-top: 10px;
}